ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color:rgb(87, 165, 10);
}


